<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris Song</title>
    <meta name="author" content="Chris Song">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Chris's professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script defer src="../static/script.js"></script>
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Chris Song</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div>
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Organization Name</th><th>Description</th></tr>
            <tr><td>15-112: Fundamentals of Programming and CS</td><td>Teach recitations and large group sessions covering fundamentals of CS to various academic backgrounds. <br>Mentor students' term projects through one-on-one meetings and close guidance.
            </td></tr>
            <tr><td>Lunar Gala: Fashion Show</td><td><strong>HTML, JavaScript, and Three.js (JavaScript Library)</strong> to seamlessly integrate creative designs, <br>resulting in a visually compelling platform that effectively showcases the diverse products featured in the fashion show.
            </td></tr>
            <tr><td>Alpha Kappa Psi</td><td>Played a pivotal role in overseeing and coordinating event venues, ensuring seamless operations for our chapter's activities.
                <br>Responsibilities extended to strategizing and executing fundraising campaigns, raising <strong>$2,000 within a month.</strong></td></tr>

        </table>
        <a href = "../static/chris_resume.pdf" target = "_blank">"My resume, pdf version"</a>
    </div>
    <footer>
        <p id="copyYear">Chris Song &copy</p>
    </footer>
</body>
</html>