<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris Song</title>
    <meta name="author" content="Chris Song">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Chris's professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body onload=" addYear()">
    <header>
        <h1 id="webname">Chris Song</h1>
        <nav id="myTopnav" class="topnav">
            <a href="index.html" class="active">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
        </nav>
    </header>
    <div>
        <h2 id="greeting"></h2>
        <img class="classA" src="../static/photo_of_me.png" alt="Chris Song profile image">
        
        <div class="classB">
            <span id="shortIntro">My name is Chris Song, a freshman currently majoring in Information Systems with an intended additional major in Computer Science.</span>
            <span id="readMore"> read more ...</span>
            <span id="longIntro">My name is Chris Song, a freshman currently majoring in Information Systems with an intended additional major in Computer Science. I was born and raised in Seoul, South Korea, with an international focus throughout my experience in an international school. Before college, I was focused more on learning programming languages through textbooks and by solving online problems. On campus, I am working as a teaching assistant for one of the core programming classes, 15-112. Also, I am expanding my experiences into related areas through working in the web development team for Lunar Gala, or working as a webmaster for Alpha Kappa Psi (I’ll soon be working on the alumni portal)! Through such experiences, I hope to work in the software engineering industry starting in the near future. I am planning on involving myself further into the realm of computer science, through summer internships/research opportunities. 
            </span>
            <span id="readLess"> read less</span>
        </div>
        
    </div>
    
    <footer>
        <p id="copyYear">Chris Song &copy</p>
    </footer>
    
</body>
</html>